/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
 }

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
 }

article {
  padding: 50px 0;
  
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  margin-right:auto;
  padding-left: 20px;
}

ol {
  text-align: left;
  align-items: center;
  }

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
  max-width: 600px;
}

.container {
  display: flex;
  align-items: center;
}

.center-align {
  display: flex;
  flex-direction: row;
  
  vertical-align: middle;
  justify-content: center;
  gap: 25px;
}

.top-container {
  display: flex;
  align-items: center;
}

.about-container {
  display: flex;
  align-items: left;
}

.description-container {
  text-align: left;
  width: 100%;
  height: auto;
}

.contact {
  text-align: left;
  align-items: center;
}

.display-images {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  height: auto;
  vertical-align: middle;
}